<!DOCTYPE html>
<html>
<head>
  <title>Essentialism by Greg McKeown - Highlights and Notes</title>
  <meta name="description" content="TLDR: Essentially: focus on the essential few to operate at your highest point of contribution rather than progressing an inch in many different directions. One good practice to start with is saying no to the inessential."/>
  <meta property="og:description" content="TLDR: Essentially: focus on the essential few to operate at your highest point of contribution rather than progressing an inch in many different directions. One good practice to start with is saying no to the inessential." />
  <meta property="og:image" content="https://beatobongco.com/img/og.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../book.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56608851-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
<div class="controls">
  <a href="../"><< Back</a>
</div>
<div class="summary">
  <h3>Quick and dirty summary</h3>
  <p>Essentially: focus on the essential few to operate at your highest point of contribution rather than progressing an inch in many different directions. One good practice to start with is saying no to the inessential.</p>
</div>
<div id="raw-notes">
Notebook for
Essentialism: The Disciplined Pursuit of Less
McKeown, Greg
Citation (APA): McKeown, G. (2014). Essentialism: The Disciplined Pursuit of Less [Kindle Android version]. Retrieved from Amazon.com
1. The Essentialist
Highlight (yellow) - Page 6
Essentialism is not about how to get more things done; it’s about how to get the right things done. It doesn’t mean just doing less for the sake of less either. It is about making the wisest possible investment of your time and energy in order to operate at our highest point of contribution by doing only what is essential.
Highlight (yellow) - Page 7
The way of the Essentialist means living by design, not by default. Instead of making choices reactively, the Essentialist deliberately distinguishes the vital few from the trivial many, eliminates the nonessentials, and then removes obstacles so the essential things have clear, smooth passage. In other words, Essentialism is a disciplined, systematic approach for determining where our highest point of contribution lies, then making execution of those things almost effortless.
Highlight (yellow) - Page 10
If you don’t prioritize your life, someone else will.
Highlight (yellow) - Page 15
Psychologists call this “decision fatigue”: the more choices we are forced to make, the more the quality of our decisions deteriorates.
Note - Page 15
That's why we increase choices (optionality) but have heuristics which are low-cost (in terms of mental effort) to help us quickly filter and sort through these choices.
Highlight (yellow) - Page 16
The word priority came into the English language in the 1400s. It was singular. It meant the very first or prior thing. It stayed singular for the next five hundred years. Only in the 1900s did we pluralize the term and start talking about priorities.
Note - Page 16
Source?
Highlight (yellow) - Page 17
Instead of asking, “Is there a chance I will wear this someday in the future?” you ask more disciplined, tough questions: “Do I love this?” and “Do I look great in it?” and “Do I wear this often?” If the answer is no, then you know it is a candidate for elimination. In your personal or professional life, the equivalent of asking yourself which clothes you love is asking yourself, “Will this activity or effort make the highest possible contribution toward my goal?” Part One of this book will help you figure out what those activities are.
Highlight (yellow) - Page 18
“If I didn’t already own this, how much would I spend to buy it?” This usually does the trick.
Highlight (yellow) - Page 18
it’s not enough to simply determine which activities and efforts don’t make the highest possible contribution; you still have to actively eliminate those that do not.
Highlight (yellow) - Page 19
It’s a method for making the tough trade-off between lots of good things and a few really great things. It’s about learning how to do less but better so you can achieve the highest possible return on every precious moment of your life.
Highlight (yellow) - Page 20
Individual choice: We can choose how to spend our energy and time. Without choice, there is no point in talking about trade-offs.
Highlight (yellow) - Page 20
The prevalence of noise: Almost everything is noise, and a very few things are exceptionally valuable.
Highlight (yellow) - Page 20
The reality of trade-offs: We can’t have it all or do it all. If we could, there would be no reason to evaluate or eliminate options. Once we accept the reality of trade-offs we stop asking, “How can I make it all work?” and start asking the more honest question “Which problem do I want to solve?”
Highlight (yellow) - Page 21
STEP 1. EXPLORE: DISCERNING THE TRIVIAL MANY FROM THE VITAL FEW
Highlight (yellow) - Page 22
“What do I feel deeply inspired by?” and “What am I particularly talented at?” and “What meets a significant need in the world?”
Highlight (yellow) - Page 23
STEP 2. ELIMINATE: CUTTING OUT THE TRIVIAL MANY
Highlight (yellow) - Page 23
eliminating the nonessentials isn’t just about mental discipline. It’s about the emotional discipline necessary to say no to social pressure.
Highlight (yellow) - Page 23
when we forfeit our right to choose, someone else will choose for us. So we can either deliberately choose what not to do or allow ourselves to be pulled in directions we don’t want to go.
Highlight (yellow) - Page 25
STEP 3. EXECUTE: REMOVING OBSTACLES AND MAKING EXECUTION EFFORTLESS
Highlight (yellow) - Page 25
Instead of forcing execution, Essentialists invest the time they have saved into creating a system for removing obstacles and making execution as easy as possible.
Note - Page 25
Essentialism combines well with optionality in that it becomes a process that invokes good black-swan-capturing heuristics while removing the downside of optionality, which can be decision fatigue.
Part I: Essence: What is the core mind-set of an Essentialist?
Highlight (yellow) - Page 32
three core truths: “I choose to,”“Only a few things really matter,” and “I can do anything but not everything.”
Highlight (yellow) - 2. Choose: The Invincible Power of Choice > Page 34
“If you could do only one thing with your life right now, what would you do?”
Highlight (yellow) - 2. Choose: The Invincible Power of Choice > Page 38
There is evidence that humans learn helplessness in much the same way.
Note - 2. Choose: The Invincible Power of Choice > Page 38
Prior to this: Seligman's study on learned helplessness via an experiment on dogs and electric shocks.
Highlight (yellow) - 3. Discern: The Unimportance of Practically Everything > Page 44
Vilfredo Pareto, that 20 percent of our efforts produce 80 percent of results. Much later, in 1951, in his Quality-Control Handbook, Joseph Moses Juran, one of the fathers of the quality movement, expanded on this idea and called it “the Law of the Vital Few.”2 His observation was that you could massively improve the quality of a product by resolving a tiny fraction of the problems.
Highlight (yellow) - 3. Discern: The Unimportance of Practically Everything > Page 45
According to the power law theory, certain efforts actually produce exponentially more results than others.
Highlight (yellow) - 3. Discern: The Unimportance of Practically Everything > Page 45
As John Maxwell has written, “You cannot overestimate the unimportance of practically everything.”
Highlight (yellow) - 4. Trade-Off: Which Problem Do I Want? > Page 50
straddling means keeping your existing strategy intact while simultaneously also trying to adopt the strategy of a competitor.
Note - 4. Trade-Off: Which Problem Do I Want? > Page 50
To be clear, this is a negative. Coined by Michel Porter.
Highlight (yellow) - 4. Trade-Off: Which Problem Do I Want? > Page 52
The reality is, saying yes to any opportunity by definition requires saying no to several others.
Highlight (yellow) - 4. Trade-Off: Which Problem Do I Want? > Page 56
Essentialists see trade-offs as an inherent part of life, not as an inherently negative part of life. Instead of asking, “What do I have to give up?” they ask, “What do I want to go big on?”
Part II: Explore: How can we discern the trivial many from the vital few?
Highlight (yellow) - 4. Trade-Off: Which Problem Do I Want? > Page 60
To discern what is truly essential we need space to think, time to look and listen, permission to play, wisdom to sleep, and the discipline to apply highly selective criteria to the choices we make.
Highlight (yellow) - 5. Escape: The Perks of Being Unavailable > Page 63
WITHOUT GREAT SOLITUDE NO SERIOUS WORK IS POSSIBLE. —Pablo Picasso
Highlight (yellow) - 5. Escape: The Perks of Being Unavailable > Page 63
Once a month he gathers each employee of his fifty-person company into a room for a full day. Phones are prohibited. E-mail is outlawed. There is no agenda. The purpose of the meeting is simply to escape to think and to talk. Mind you, he doesn’t hold this meeting on the middle Friday of the month, when productivity might be sluggish and people aren’t getting any “real work” done anyway. He holds this daylong meeting on the first Monday of the month. The practice isn’t just an internal discipline either: even his clients know not to expect a response on this “Do-Not-Call-Monday.”1
Highlight (yellow) - 5. Escape: The Perks of Being Unavailable > Page 66
In order to have focus we need to escape to focus.
Highlight (yellow) - 5. Escape: The Perks of Being Unavailable > Page 69
Jeff Weiner, the CEO of LinkedIn, for example, schedules up to two hours of blank space on his calendar every day. He divides them into thirty-minute increments, yet he schedules nothing. It is a simple practice he developed when back-to-back meetings left him with little time to process what was going on around him.4 At first it felt like an indulgence, a waste of time. But eventually he found it to be his single most valuable productivity tool. He sees it as the primary way he can ensure he is in charge of his own day, instead of being at the mercy of it.
Highlight (yellow) - 5. Escape: The Perks of Being Unavailable > Page 70
Bill Gates, who regularly (and famously) takes a regular week off from his daily duties at Microsoft simply to think and read.
Highlight (yellow) - 5. Escape: The Perks of Being Unavailable > Page 70
One practice I’ve found useful is simply to read something from classic literature (not a blog, or the newspaper, or the latest beach novel) for the first twenty minutes of the day.
Highlight (yellow) - 6. Look: See What Really Matters > Page 74
In every set of facts, something essential is hidden.
Highlight (yellow) - 6. Look: See What Really Matters > Page 75
stop hyper-focusing on all the minor details and see the bigger picture.
Highlight (yellow) - 6. Look: See What Really Matters > Page 78
apply the principle of “less but better” to your journal. Restrain yourself from writing more until daily journaling has become a habit.
Highlight (yellow) - 6. Look: See What Really Matters > Page 78
focus on the broader patterns or trends. Capture the headline. Look for the lead in your day, your week, your life. Small, incremental changes are hard to see in the moment but over time can have a huge cumulative effect.
Highlight (yellow) - 7. Play: Embrace the Wisdom of Your Inner Child > Page 84
The word school is derived from the Greek word schole, meaning “leisure.”
Highlight (yellow) - 7. Play: Embrace the Wisdom of Your Inner Child > Page 84
Imagination is the source of every form of human achievement. And it’s the one thing that I believe we are systematically jeopardizing in the way we educate our children and ourselves.”
Highlight (yellow) - 7. Play: Embrace the Wisdom of Your Inner Child > Page 85
Stuart Brown, the founder of the National Institute for Play, has studied what are called the play histories of some six thousand individuals and has concluded that play has the power to significantly improve everything from personal health to relationships to education to organizations’ ability to innovate. “Play,” he says, “leads to brain plasticity, adaptability, and creativity.” As he succinctly puts it, “Nothing fires up the brain like play.”3
Highlight (yellow) - 7. Play: Embrace the Wisdom of Your Inner Child > Page 87
Albert Einstein once said: “When I examine myself and my methods of thought, I come to the conclusion that the gift of fantasy has meant more to me than my talent for absorbing positive knowledge.”
Highlight (yellow) - 7. Play: Embrace the Wisdom of Your Inner Child > Page 90
Play doesn’t just help us to explore what is essential. It is essential in and of itself.
Highlight (yellow) - 7. Play: Embrace the Wisdom of Your Inner Child > Page 90
In his book, Brown includes a primer to help readers reconnect with play. He suggests that readers mine their past for play memories. What did you do as a child that excited you? How can you re-create that today?
Note - 7. Play: Embrace the Wisdom of Your Inner Child > Page 90
Hey, that was my intuition too!!! Railways!
Highlight (yellow) - 8. Sleep: Protect the Asset > Page 94
The best asset we have for making a contribution to the world is ourselves. If we underinvest in ourselves, and by that I mean our minds, our bodies, and our spirits, we damage the very tool we need to make our highest contribution. One of the most common ways people—especially ambitious, successful people—damage this asset is through a lack of sleep.
Highlight (yellow) - 8. Sleep: Protect the Asset > Page 96
Essentialists instead see sleep as necessary for operating at high levels of contribution more of the time. This is why they systematically and deliberately build sleep into their schedules so they can do more, achieve more, and explore more.
Highlight (yellow) - 8. Sleep: Protect the Asset > Page 97
The best violinists slept an average of 8.6 hours in every twenty-four-hour period: about an hour longer than the average American. Over the period of a week they also spent an average of 2.8 hours of napping in the afternoon: about two hours longer than the average.
Highlight (yellow) - 8. Sleep: Protect the Asset > Page 98
a nap can increase creativity. In just one example, a report from the Proceedings of the National Academy of Sciences revealed that even a single REM—or rapid eye movement—cycle enhanced the integration of unassociated information. Even a brief period of deep sleep, in other words, helps us make the kinds of new connections that allow us to better explore our world.
Highlight (yellow) - 8. Sleep: Protect the Asset > Page 100
consider developing an initiative at work to explicitly encourage sleep.
Highlight (yellow) - 9. Select: The Power of Extreme Criteria > Page 103
if we feel total and utter conviction to do something, then we say yes, Derek-style. Anything less gets a thumbs down.
Highlight (yellow) - 9. Select: The Power of Extreme Criteria > Page 104
You can think of this as the 90 Percent Rule, and it’s one you can apply to just about every decision or dilemma. As you evaluate an option, think about the single most important criterion for that decision, and then simply give the option a score between 0 and 100. If you rate it any lower than 90 percent, then automatically change the rating to 0 and simply reject it. This way you avoid getting caught up in indecision, or worse, getting stuck with the 60s or 70s. Think about how you’d feel if you scored a 65 on some test. Why would you deliberately choose to feel that way about an important choice in your life?
Highlight (yellow) - 9. Select: The Power of Extreme Criteria > Page 109
If it isn’t a clear yes, then it’s a clear no.
Highlight (yellow) - 9. Select: The Power of Extreme Criteria > Page 111
First, write down the opportunity. Second, write down a list of three “minimum criteria” the options would need to “pass” in order to be considered. Third, write down a list of three ideal or “extreme criteria” the options would need to “pass” in order to be considered. By definition, if the opportunity doesn’t pass the first set of criteria, the answer is obviously no. But if it also doesn’t pass two of your three extreme criteria, the answer is still no.
Highlight (yellow) - 9. Select: The Power of Extreme Criteria > Page 112
“What am I deeply passionate about?” and “What taps my talent?” and “What meets a significant need in the world?”
Part III: Eliminate: How can we cut out the trivial many?
Highlight (yellow) - 9. Select: The Power of Extreme Criteria > Page 118
the question you should be asking yourself is not: “What, of my list of competing priorities, should I say yes to?” Instead, ask the essential question: “What will I say no to?”
Note - 9. Select: The Power of Extreme Criteria > Page 118
Via negativa
Highlight (yellow) - 10. Clarify: One Decision That Makes a Thousand > Page 120
The first type of nonessential you’re going to learn how to eliminate is simply any activity that is misaligned with what you are intending to achieve.
Highlight (yellow) - 10. Clarify: One Decision That Makes a Thousand > Page 121
When there is a serious lack of clarity about what the team stands for and what their goals and roles are, people experience confusion, stress, and frustration. When there is a high level of clarity, on the other hand, people thrive.
Highlight (yellow) - 11. Dare: The Power of a Graceful “No” > Page 135
With Stephen it was the clarity of his vision for the evening with his loving daughter. In virtually every instance, clarity about what is essential fuels us with the strength to say no to the nonessentials.
Highlight (yellow) - 11. Dare: The Power of a Graceful “No” > Page 138
Paul Rand had the guts to say no to Steve Jobs.
Highlight (yellow) - 11. Dare: The Power of a Graceful “No” > Page 138
Rand didn’t want to come up with “a few options.” He wanted to design just one option. So Rand said: “No. I will solve your problem for you. And you will pay me. And you don’t have to use the solution. If you want options go talk to other people. But I will solve the problem the best way I know how. And you use it or not. That’s up to you.”
Highlight (yellow) - 12. Uncommit: Win Big by Cutting Your Losses > Page 150
There should be no shame in admitting to a mistake; after all, we really are only admitting that we are now wiser than we once were.
Highlight (yellow) - 12. Uncommit: Win Big by Cutting Your Losses > Page 151
GET A NEUTRAL SECOND OPINION
Highlight (yellow) - 12. Uncommit: Win Big by Cutting Your Losses > Page 153
FROM NOW ON, PAUSE BEFORE YOU SPEAK
Highlight (yellow) - 12. Uncommit: Win Big by Cutting Your Losses > Page 154
A similar reverse pilot can be carried out in our social lives. Are there commitments you routinely make to customers, colleagues, friends or even family members that you have always assumed made a big difference to them but that in fact they might barely notice? By quietly eliminating or at least scaling back an activity for a few days or weeks you might be able to assess whether it is really making a difference or whether no one really cares.
Highlight (yellow) - 13. Edit: The Invisible Art > Page 157
a good editor is someone who uses deliberate subtraction to actually add life to the ideas, setting, plot, and characters.
Highlight (yellow) - 13. Edit: The Invisible Art > Page 159
The Latin root of the word decision—cis or cid—literally means “to cut” or “to kill.”
Highlight (yellow) - 13. Edit: The Invisible Art > Page 159
we must summon the discipline to get rid of options or activities that may be good, or even really good, but that get in the way.
Note - 13. Edit: The Invisible Art > Page 159
Doesn't contradict optionality. Choose the black swans over the small gains.
Highlight (yellow) - 13. Edit: The Invisible Art > Page 160
“What Is an Editor?” there are “two basic questions the editor should be addressing to the author: Are you saying what you want to say? and, Are you saying it as clearly and concisely as possible?”
Highlight (yellow) - 13. Edit: The Invisible Art > Page 161
in our own professional or private lives we can make course corrections by coming back to our core purpose.
Highlight (yellow) - 13. Edit: The Invisible Art > Page 162
Becoming an editor in our lives also includes knowing when to show restraint. One way we can do this is by editing our tendency to step in. When we are added onto an e-mail thread, for example, we can resist our usual temptation to be the first to reply all. When sitting in a meeting, we can resist the urge to add our two cents. We can wait. We can observe. We can see how things develop.
Highlight (yellow) - 14. Limit: The Freedom of Setting Boundaries > Page 165
If I had made an exception then I might have made it many times.”2 Boundaries are a little like the walls of a sandcastle. The second we let one fall over, the rest of them come crashing down.
Highlight (yellow) - 14. Limit: The Freedom of Setting Boundaries > Page 166
Clay’s unwillingness to work on weekends could have limited his career. It’s true that boundaries can come at a high price. However, not pushing back costs more: our ability to choose what is most essential in life. For Jin-Yung and Clay, respect in the workplace and time for God and family were most important, so these were the things they deliberately and strategically chose to prioritize. After all, if you don’t set boundaries—there won’t be any. Or even worse, there will be boundaries, but they’ll be set by default—or by another person—instead of by design.
Highlight (yellow) - 14. Limit: The Freedom of Setting Boundaries > Page 168
I am not saying we should never help people. We should serve, and love, and make a difference in the lives of others, of course. But when people make their problem our problem, we aren’t helping them; we’re enabling them. Once we take their problem for them, all we’re doing is taking away their ability to solve it.
Highlight (yellow) - 14. Limit: The Freedom of Setting Boundaries > Page 169
BOUNDARIES ARE A SOURCE OF LIBERATION This truth is demonstrated elegantly by the story of a school located next to a busy road. At first the children played only on a small swath of the playground, close to the building where the grownups could keep their eyes on them. But then someone constructed a fence around the playground. Now the children were able to play anywhere and everywhere on the playground. Their freedom, in effect, more than doubled.
Highlight (yellow) - 14. Limit: The Freedom of Setting Boundaries > Page 170
quick test for finding your dealbreakers is to write down any time you feel violated or put upon by someone’s request. It doesn’t have to be in some extreme way for you to notice it. Even a small “pinch” (to use a description I think is helpful for describing a minor violation of your boundaries) that makes you feel even a twinge of resentment—whether it’s an unwanted invitation, an unsolicited “opportunity,” or a request for a small favor—is a clue for discovering your own hidden boundaries.
Part IV: Execute: How can we make doing the vital few things almost effortless?
Highlight (yellow) - 15. Buffer: The Unfair Advantage > Page 176
The only thing we can expect (with any great certainty) is the unexpected. Therefore, we can either wait for the moment and react to it or we can prepare. We can create a buffer.
Highlight (yellow) - 15. Buffer: The Unfair Advantage > Page 180
The way of the Essentialist, on the other hand, is to use the good times to create a buffer for the bad.
Highlight (yellow) - 15. Buffer: The Unfair Advantage > Page 181
In filtering out 7 companies from 20,400, the authors found that the ones that executed most successfully did not have any better ability to predict the future than their less successful counterparts. Instead, they were the ones who acknowledged they could not predict the unexpected and therefore prepared better.5
Highlight (yellow) - 15. Buffer: The Unfair Advantage > Page 182
“planning fallacy.”6 This term, coined by Daniel Kahneman in 1979, refers to people’s tendency to underestimate how long a task will take, even when they have actually done the task before.
Highlight (yellow) - 15. Buffer: The Unfair Advantage > Page 183
One study found that if people estimated anonymously how long it would take to complete a task they were no longer guilty of the planning fallacy.
Highlight (yellow) - 15. Buffer: The Unfair Advantage > Page 183
One way to protect against this is simply to add a 50 percent buffer to the amount of time we estimate it will take to complete a task or project
Highlight (yellow) - 16. Subtract: Bring Forth More by Removing Obstacles > Page 185
TO ATTAIN KNOWLEDGE ADD THINGS EVERY DAY. TO ATTAIN WISDOM SUBTRACT THINGS EVERY DAY. —Lao-tzu
Highlight (yellow) - 16. Subtract: Bring Forth More by Removing Obstacles > Page 186
Instead of trying to improve every aspect of the facility he needs to identify the “Herbie”: the part of the process that is slower relative to every other part of the plant.
Note - 16. Subtract: Bring Forth More by Removing Obstacles > Page 187
Start by identifying the worst parts of the process/your life and fixing it.
Highlight (yellow) - 16. Subtract: Bring Forth More by Removing Obstacles > Page 189
An Essentialist produces more—brings forth more—by removing more instead of doing more.
Note - 16. Subtract: Bring Forth More by Removing Obstacles > Page 189
Again, via negativa
Highlight (yellow) - 16. Subtract: Bring Forth More by Removing Obstacles > Page 190
BE CLEAR ABOUT THE ESSENTIAL INTENT We can’t know what obstacles to remove until we are clear on the desired outcome. When we don’t know what we’re really trying to achieve, all change is arbitrary. So ask yourself, “How will we know when we are done?”
Highlight (yellow) - 16. Subtract: Bring Forth More by Removing Obstacles > Page 190
IDENTIFY THE “SLOWEST HIKER”
Highlight (yellow) - 16. Subtract: Bring Forth More by Removing Obstacles > Page 191
“Done is better than perfect.”
Highlight (yellow) - 16. Subtract: Bring Forth More by Removing Obstacles > Page 191
To reduce the friction with another person, apply the “catch more flies with honey” approach. Send him an e-mail, but instead of asking if he has done the work for you (which obviously he hasn’t), go and see him. Ask him, “What obstacles or bottlenecks are holding you back from achieving X, and how can I help remove these?” Instead of pestering him, offer sincerely to support him. You will get a warmer reply than you would by just e-mailing him another demand.
Note - 16. Subtract: Bring Forth More by Removing Obstacles > Page 191
Carnegie. Another reminder to reread that source material.
Highlight (yellow) - 17. Progress: The Power of Small Wins > Page 193
EVERY DAY DO SOMETHING THAT WILL INCH YOU CLOSER TO A BETTER TOMORROW. —Doug Firebaugh
Highlight (yellow) - 17. Progress: The Power of Small Wins > Page 194
Positive Tickets, a program whereby police, instead of focusing on catching young people perpetrating crimes, would focus on catching youth doing something good—something as simple as throwing litter away in a bin rather than on the ground, wearing a helmet while riding their bike, skateboarding in the designated area, or getting to school on time—and would give them a ticket for positive behavior. The ticket, of course, wouldn’t carry a fine like a parking ticket but instead would be redeemable for some kind of small reward, like free entry to the movies or to an event at a local youth center—wholesome activities that also had the bonus of keeping the young people off the streets and out of trouble.
Note - 17. Progress: The Power of Small Wins > Page 194
Positive reinforcement always works better than negative.
Highlight (yellow) - 17. Progress: The Power of Small Wins > Page 196
There is an appealing logic to this: that to do something big we have to start big. However, just think of all of the “big,” hyped-up initiatives in organizations that never ended up amounting to anything—just like that executive’s dollhouse.
Highlight (yellow) - 17. Progress: The Power of Small Wins > Page 197
As former Stanford professor and educator Henry B. Eyring has written, “My experience has taught me this about how people and organizations improve: the best place to look is for small changes we could make in the things we do often. There is power in steadiness and repetition.”
Highlight (yellow) - 17. Progress: The Power of Small Wins > Page 198
We have a choice. We can use our energies to set up a system that makes execution of goodness easy, or we can resign ourselves to a system that actually makes it harder to do what is good.
Note - 17. Progress: The Power of Small Wins > Page 198
You can also argue for finding environments with systems already in place to make your success and execution effortless. I have found that environments have passive bonuses or debuffs that amount to a lot over time.
Highlight (yellow) - 17. Progress: The Power of Small Wins > Page 198
we introduced a token system.9 The children were given ten tokens at the beginning of the week. These could each be traded in for either thirty minutes of screen time or fifty cents at the end of the week, adding up to $5 or five hours of screen time a week. If a child read a book for thirty minutes, he or she would earn an additional token, which could also be traded in for screen time or for money. The results were incredible: overnight, screen time went down 90 percent, reading went up by the same amount, and the overall effort we had to put into policing the system went way, way down. In other words, nonessential activity dramatically decreased and essential activity dramatically increased. Once a small amount of initial effort was invested to set up the system, it worked without friction.
Highlight (yellow) - 17. Progress: The Power of Small Wins > Page 199
we can adopt a method of “minimal viable progress.” We can ask ourselves, “What is the smallest amount of progress that will be useful and valuable to the essential task we are trying to get done?”
Highlight (yellow) - 17. Progress: The Power of Small Wins > Page 200
As John Lasseter, the chief creative officer at Pixar and now Disney, said, “We don’t actually finish our films, we release them.”12
Highlight (yellow) - 17. Progress: The Power of Small Wins > Page 200
Take a goal or deadline you have coming up and ask yourself, “What is the minimal amount I could do right now to prepare?”
Highlight (yellow) - 18. Flow: The Genius of Routine > Page 203
ROUTINE, IN AN INTELLIGENT MAN, IS A SIGN OF AMBITION. —W. H. Auden
Highlight (yellow) - 18. Flow: The Genius of Routine > Page 206
Routine is one of the most powerful tools for removing obstacles.
Highlight (yellow) - 18. Flow: The Genius of Routine > Page 206
if we create a routine that enshrines the essentials, we will begin to execute them on autopilot.
Highlight (yellow) - 18. Flow: The Genius of Routine > Page 207
“In fact, the brain starts working less and less,” says Charles Duhigg, author of the book The Power of Habit. “The brain can almost completely shut down.… And this is a real advantage, because it means you have all of this mental activity you can devote to something else.”5
Highlight (yellow) - 18. Flow: The Genius of Routine > Page 207
the right routines can actually enhance innovation and creativity by giving us the equivalent of an energy rebate. Instead of spending our limited supply of discipline on making the same decisions again and again, embedding our decisions into our routine allows us to channel that discipline toward some other essential activity.
Highlight (yellow) - 19. Focus: What’s Important Now? > Page 215
LIFE IS AVAILABLE ONLY IN THE PRESENT MOMENT. IF YOU ABANDON THE PRESENT MOMENT YOU CANNOT LIVE THE MOMENTS OF YOUR DAILY LIFE DEEPLY. —Thich Nhat Hanh
Highlight (yellow) - 20. Be: The Essentialist Life > Page 225
BEWARE THE BARRENNESS OF A BUSY LIFE. —Socrates
Highlight (yellow) - 20. Be: The Essentialist Life > Page 231
“As a man thinketh in his heart, so is he”
Appendix: Leadership Essentials
Highlight (yellow) - 20. Be: The Essentialist Life > Page 240
when there was a high level of clarity of purpose, the teams and the people on it overwhelmingly thrived. When there was a serious lack of clarity about what the team stood for and what their goals and roles were, people experienced confusion, stress, frustration, and ultimately failure. As one senior vice president succinctly summarized it when she looked at the results gathered from her extended team: “Clarity equals success.”
Note - 20. Be: The Essentialist Life > Page 240
Roles and, sorry, hierarchy. Leaders with skin in the game. Noblesse oblige.
Highlight (yellow) - 20. Be: The Essentialist Life > Page 242
EMPOWERMENT Nonessentialist Allows ambiguity over who is doing what. Decisions are capricious. Essentialist Focuses on each team member’s highest role and goal of contribution.
Highlight (yellow) - 20. Be: The Essentialist Life > Page 244
When people don’t know what they are really responsible for and how they will be judged on their performance, when decisions either are or appear to be capricious, and when roles are ill-defined, it isn’t long before people either give up or, worse, become obsessed with trying to look busy and therefore important instead of actually getting any real work done.
Highlight (yellow) - 20. Be: The Essentialist Life > Page 245
a Nonessentialist leader may unintentionally train his people to expect no follow-up at all. In turn, the members of the team soon learn that there are no repercussions for failing, cutting corners, or prioritizing what is easy over what is important. They learn that each objective pronounced by the leader will be emphasized only for a moment before giving way to something else of momentary interest.
Highlight (yellow) - 20. Be: The Essentialist Life > Page 246
By taking the time to get clear about the one thing that is really required, the Essentialist leader makes follow-up so easy and frictionless that it actually happens. By checking in with people frequently to reward small wins and help people remove obstacles, he bolsters the team’s motivation and focus and enables them to make more meaningful progress
</div>

<div id="formatted">
  <div v-cloak v-for="line in output">
    <h3 v-if="line.type === 'title-bearer'">{{line.content}}</h3>
    <h1 v-else-if="line.type === 'title'">{{line.content}}</h1>
    <small
      :class="line.type"
      v-else-if="line.type === 'citation' || line.type === 'note-bearer' || line.type === 'highlight-bearer'"
      >{{line.content}}</small>
    <blockquote
      :class="{quote: true, seek: line.seek}"
      v-else-if="line.type === 'highlight'"
      v-html="line.content"
      ></blockquote>
    <div
      :class="{note: true, seek: line.seek}"
      v-else-if="line.type === 'note'"
      v-html="line.content"
      >{{line.content}}</div>
    <h3 v-else>{{line.content}}</h3>

    <div
      class="copy-controls"
      v-if="line.type === 'highlight' || line.type === 'note'">
      <button
        class="copy-btn"
        :data-clipboard-text="line.content">copy</button>
      <button
        v-if="line.type === 'highlight'"
        class="copy-btn"
        :data-clipboard-text="line.content + '\n\n' + citation">copy w/ citation</button>
    </div>
  </div>
</div>

<footer>Made with &#10084; by <a href="https://beatobongco.com/UI-Kata/">Beato Bongco</a></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="../book.js"></script>
</body>
</html>