<!DOCTYPE html>
<html>
<head>
  <title>The Lean Startup by Eric Ries - Highlights and Notes</title>
  <meta name="description" content="TLDR: If you read a lot of popular articles about startups the concepts should be very familiar to you and so the book might not be as engaging. It's still a great read: it's an iconic book that started the startup revolution. Going back to the basics also never hurts."/>
  <meta property="og:description" content="TLDR: If you read a lot of popular articles about startups the concepts should be very familiar to you and so the book might not be as engaging. It's still a great read: it's an iconic book that started the startup revolution. Going back to the basics also never hurts." />
  <meta property="og:image" content="https://beatobongco.com/img/og.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../book.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56608851-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
<div class="controls">
  <a href="../"><< Back</a>
</div>
<div class="summary">
  <h3>Quick and dirty summary</h3>
  <p>If you read a lot of popular articles about startups the concepts should be very familiar to you and so the book might not be as engaging. It's still a great read: it's an iconic book that started the startup revolution. Going back to the basics also never hurts.</p>
</div>
<div id="raw-notes">
Notebook for
The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create RadicallySuccessful Businesses
Ries, Eric
Citation (APA): Ries, E. (2011). The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create RadicallySuccessful Businesses [Kindle Android version]. Retrieved from Amazon.com
Introduction
Highlight (yellow) - Location 115
After more than ten years as an entrepreneur, I came to reject that line of thinking. I have learned from both my own successes and failures and those of many others that it’s the boring stuff that matters the most. Startup success is not a consequence of good genes or being in the right place at the right time. Startup success can be engineered by following the right process, which means it can be learned, which means it can be taught.
Highlight (yellow) - Location 118
Entrepreneurship is a kind of management.
Highlight (yellow) - Location 133
We really did have customers in those early days— true visionary early adopters— and we often talked to them and asked for their feedback. But we emphatically did not do what they said. We viewed their input as only one source of information about our product and overall vision. In fact, we were much more likely to run experiments on our customers than we were to cater to their whims.
Highlight (yellow) - Location 152
Back in 2004, Steve had just begun preaching a new idea: the business and marketing functions of a startup should be considered as important as engineering and product development and therefore deserve an equally rigorous methodology to guide them. He called that methodology Customer Development, and it offered insight and guidance to my daily work as an entrepreneur.
Highlight (yellow) - Location 159
I began to study other industries, especially manufacturing, from which most modern theories of management derive.
Note - Location 160
Interesting. I wonder if there are any classic manufacturing books I should read to get straight to the source?
Highlight (yellow) - Location 199
Innovation accounting. To improve entrepreneurial outcomes and hold innovators accountable, we need to focus on the boring stuff: how to measure progress, how to set up milestones, and how to prioritize work.
Highlight (yellow) - Location 207
after seeing traditional management fail to solve this problem, some entrepreneurs and investors have thrown up their hands and adopted the “Just Do It” school of startups. This school believes that if management is the problem, chaos is the answer. Unfortunately, as I can attest firsthand, this doesn’t work either.
Part One: Vision
Highlight (yellow) - 1. Start > Location 238
Entrepreneurs have been trying to fit the square peg of their unique problems into the round hole of general management for decades. As a result, many entrepreneurs take a “just do it” attitude, avoiding all forms of management, process, and discipline. Unfortunately, this approach leads to chaos more often than it does to success. I should know: my first startup failures were all of this kind.
Highlight (yellow) - 1. Start > Location 284
The goal of a startup is to figure out the right thing to build— the thing customers want and will pay for— as quickly as possible. In other words, the Lean Startup is a new way of looking at the development of innovative new products that emphasizes fast iteration and customer insight, a huge vision, and great ambition, all at the same time.
Highlight (yellow) - 1. Start > Location 307
Unfortunately, too many startup business plans look more like they are planning to launch a rocket ship than drive a car. They prescribe the steps to take and the results to expect in excruciating detail, and as in planning to launch a rocket, they are set up in such a way that even tiny errors in assumptions can lead to catastrophic outcomes.
Highlight (yellow) - 1. Start > Location 314
The Lean Startup method, in contrast, is designed to teach you how to drive a startup. Instead of making complex plans that are based on a lot of assumptions, you can make constant adjustments with a steering wheel called the Build- Measure- Learn feedback loop. Through this process of steering, we can learn when and if it’s time to make a sharp turn called a pivot or whether we should persevere along our current path. Once we have an engine that’s revved up, the Lean Startup offers methods to scale and grow the business with maximum acceleration.
Highlight (yellow) - 1. Start > Location 320
Startups also have a true north, a destination in mind: creating a thriving and world- changing business. I call that a startup’s vision. To achieve that vision, startups employ a strategy, which includes a business model, a product road map, a point of view about partners and competitors, and ideas about who the customer will be. The product is the end result of this strategy
Highlight (yellow) - 2. Define > Location 366
Entrepreneurs who operate inside an established organization sometimes are called “intrapreneurs” because of the special circumstances that attend building a startup within a larger company.
Highlight (yellow) - 2. Define > Location 375
A startup is a human institution designed to create a new product or service under conditions of extreme uncertainty.
Highlight (yellow) - 2. Define > Location 486
Leadership requires creating conditions that enable employees to do the kinds of experimentation that entrepreneurship requires.
Highlight (yellow) - 3. Learn > Location 513
Validated learning is the process of demonstrating empirically that a team has discovered valuable truths about a startup’s present and future business prospects.
Highlight (yellow) - 3. Learn > Location 645
Lean thinking defines value as providing benefit to the customer; anything else is waste.
Highlight (yellow) - 3. Learn > Location 652
consider all the waste caused by our incorrect strategic assumptions. I had built interoperability for more than a dozen different IM clients and networks. Was this really necessary to test our assumptions? Could we have gotten the same feedback from our customers with half as many networks? With only three? With only one? Since the customers of all IM networks found our product equally unattractive, the level of learning would have been the same, but our effort would have been dramatically less. Here’s the thought that kept me up nights: did we have to support any networks at all? Is it possible that we could have discovered how flawed our assumptions were without building anything?
Note - 3. Learn > Location 657
To distill: what's the least possible you can do to test an assumption?
Highlight (yellow) - 3. Learn > Location 664
I’ve come to believe that learning is the essential unit of progress for startups. The effort that is not absolutely necessary for learning what customers want can be eliminated. I call this validated learning because it is always demonstrated by positive improvements in the startup’s core metrics. As we’ve seen, it’s easy to kid yourself about what you think customers want. It’s also easy to learn things that are completely irrelevant. Thus, validated learning is backed up by empirical data collected from real customers.
Highlight (yellow) - 3. Learn > Location 677
We adopted the view that our job was to find a synthesis between our vision and what customers would accept; it wasn’t to capitulate to what customers thought they wanted or to tell customers what they ought to want.
Highlight (yellow) - 3. Learn > Location 687
the right way to think about productivity in a startup: not in terms of how much stuff we are building but in terms of how much validated learning we’re getting for our efforts.
Note - 3. Learn > Location 689
But then how do we measure this? Perhaps craft different metrics per team. Maybe metric development should be my top priority?
Highlight (yellow) - 4. Experiment > Location 757
This is one of the most important lessons of the scientific method: if you cannot fail, you cannot learn.
Highlight (yellow) - 4. Experiment > Location 760
A true experiment follows the scientific method. It begins with a clear hypothesis that makes predictions about what is supposed to happen. It then tests those predictions empirically. Just as scientific experimentation is informed by theory, startup experimentation is guided by the startup’s vision. The goal of every startup experiment is to discover how to build a sustainable business around that vision.
Highlight (yellow) - 4. Experiment > Location 769
To test it, he began by asking local shoe stores if he could take pictures of their inventory. In exchange for permission to take the pictures, he would post the pictures online and come back to buy the shoes at full price if a customer bought them online.
Note - 4. Experiment > Location 771
Zappos start. Sounds like beknowntho.
Highlight (yellow) - 4. Experiment > Location 775
If Zappos had relied on existing market research or conducted a survey, it could have asked what customers thought they wanted. By building a product instead, albeit a simple one, the company learned much more:
Highlight (yellow) - 4. Experiment > Location 777
It had more accurate data about customer demand because it was observing real customer behavior, not asking hypothetical questions.
Highlight (yellow) - 4. Experiment > Location 778
It put itself in a position to interact with real customers and learn about their needs.
Highlight (yellow) - 4. Experiment > Location 780
It allowed itself to be surprised when customers behaved in unexpected ways, revealing information Zappos might not have known to ask about.
Highlight (yellow) - 4. Experiment > Location 787
For Long- Term Change, Experiment Immediately
Highlight (yellow) - 4. Experiment > Location 816
Strategic planning takes months to complete; these experiments could begin immediately. By starting small, Caroline could prevent a tremendous amount of waste down the road without compromising her overall vision.
Highlight (yellow) - 4. Experiment > Location 820
The value hypothesis tests whether a product or service really delivers value to customers once they are using it.
Highlight (yellow) - 4. Experiment > Location 821
We could survey them to get their opinion, but that would not be very accurate because most people have a hard time assessing their feelings objectively.
Highlight (yellow) - 4. Experiment > Location 824
We could find opportunities for a small number of employees to volunteer and then look at the retention rate of those employees.
Note - 4. Experiment > Location 824
Analyzing what people DO not what they SAY.
Highlight (yellow) - 4. Experiment > Location 826
growth hypothesis, which tests how new customers will discover a product or service,
Highlight (yellow) - 4. Experiment > Location 828
the most important thing to measure is behavior: would the early participants actively spread the word to other employees?
Highlight (yellow) - 4. Experiment > Location 844
If the numbers from such early experiments don’t look promising, there is clearly a problem with the strategy. That doesn’t mean it’s time to give up; on the contrary, it means it’s time to get some immediate qualitative feedback about how to improve the program. Here’s where this kind of experimentation has an advantage over traditional market research. We don’t have to commission a survey or find new people to interview. We already have a cohort of people to talk to as well as knowledge about their actual behavior: the participants in the initial experiment.
Highlight (yellow) - 4. Experiment > Location 854
an experiment is more than just a theoretical inquiry; it is also a first product.
Highlight (yellow) - 4. Experiment > Location 862
“Traditionally, the product manager says, ‘I just want this.’ In response, the engineer says, ‘I’m going to build it.’ Instead, I try to push my team to first answer four questions: 1. Do consumers recognize that they have the problem you are trying to solve? 2. If there was a solution, would they buy it? 3. Would they buy it from us? 4. Can we build a solution for that problem?”
Part Two: Steer
Highlight (yellow) - 4. Experiment > Location 979
At its heart, a startup is a catalyst that transforms ideas into products. As customers interact with those products, they generate feedback and data. The feedback is both qualitative (such as what they like and don’t like) and quantitative (such as how many people use it and find it valuable).
Highlight (yellow) - 4. Experiment > Location 985
This Build- Measure- Learn feedback loop is at the core of the Lean Startup model.
Highlight (yellow) - 4. Experiment > Location 990
we need to focus our energies on minimizing the total time through this feedback loop. This is the essence of steering a startup
Highlight (yellow) - 4. Experiment > Location 995
I call the riskiest elements of a startup’s plan, the parts on which everything depends, leap- of- faith assumptions. The two most important assumptions are the value hypothesis and the growth hypothesis.
Highlight (yellow) - 4. Experiment > Location 1015
Although we write the feedback loop as Build- Measure- Learn because the activities happen in that order, our planning really works in the reverse order: we figure out what we need to learn, use innovation accounting to figure out what we need to measure to know if we are gaining validated learning, and then figure out what product we need to build to run that experiment and get that measurement.
Highlight (yellow) - 5. Leap > Location 1046
For startups, the role of strategy is to help figure out the right questions to ask.
Highlight (yellow) - 5. Leap > Location 1047
Every business plan begins with a set of assumptions. It lays out a strategy that takes those assumptions as a given and proceeds to show how to achieve the company’s vision. Because the assumptions haven’t been proved to be true (they are assumptions, after all) and in fact are often erroneous, the goal of a startup’s early efforts should be to test them as quickly as possible.
Highlight (yellow) - 5. Leap > Location 1097
What differentiates the success stories from the failures is that the successful entrepreneurs had the foresight, the ability, and the tools to discover which parts of their plans were working brilliantly and which were misguided, and adapt their strategies accordingly.
Highlight (yellow) - 5. Leap > Location 1121
In my Toyota interviews, when I asked what distinguishes the Toyota Way from other management approaches, the most common first response was genchi gembutsu— whether I was in manufacturing, product development, sales, distribution, or public affairs. You cannot be sure you really understand any part of any business problem unless you go and see for yourself firsthand. It is unacceptable to take anything for granted or to rely on the reports of others.
Highlight (yellow) - 6. Test > Location 1254
The lesson of the MVP is that any additional work beyond what was required to start learning is waste, no matter how important it might have seemed at the time.
Highlight (yellow) - 6. Test > Location 1257
THE VIDEO MINIMUM VIABLE PRODUCT
Note - 6. Test > Location 1258
Basically create a deno video as the MVP
Highlight (yellow) - 6. Test > Location 1288
THE CONCIERGE MINIMUM VIABLE PRODUCT
Note - 6. Test > Location 1289
Providing the service manually, without writing (much, any?) code first
Highlight (yellow) - 6. Test > Location 1330
their product development team was always focused on scaling something that was working rather than trying to invent something that might work in the future. As a result, their development efforts involved far less waste than is typical for a venture of this kind.
Highlight (yellow) - 6. Test > Location 1383
In a Wizard of Oz test, customers believe they are interacting with the actual product, but behind the scenes human beings are doing the work.
Highlight (yellow) - 6. Test > Location 1401
If we do not know who the customer is, we do not know what quality is.
Highlight (yellow) - 6. Test > Location 1402
Even a “low- quality” MVP can act in service of building a great high- quality product. Yes, MVPs sometimes are perceived as low- quality by customers. If so, we should use this as an opportunity to learn what attributes customers care about. This is infinitely better than mere speculation or whiteboard strategizing, because it provides a solid empirical foundation on which to build future products.
Highlight (yellow) - 6. Test > Location 1406
Many famous products were released in a “low- quality” state, and customers loved them. Imagine if Craig Newmark, in the early days of Craigslist, had refused to publish his humble e- mail newsletter because it lacked sufficient high design. What if the founders of Groupon had felt “two pizzas for the price of one” was beneath them?
Note - 6. Test > Location 1408
What struck me is the phrase "beneath me". When building a product or business, nothing save actions that defy good moral standards are beneath you.
Highlight (yellow) - 6. Test > Location 1423
Customers don’t care how much time something takes to build. They care only if it serves their needs.
Highlight (yellow) - 6. Test > Location 1436
As you consider building your own minimum viable product, let this simple rule suffice: remove any feature, process, or effort that does not contribute directly to the learning you seek.
Highlight (yellow) - 6. Test > Location 1465
startups have the advantage of being obscure, having a pathetically small number of customers, and not having much exposure. Rather than lamenting them, use these advantages to experiment under the radar and then do a public marketing launch once the product has proved itself with real customers.
Highlight (yellow) - 6. Test > Location 1477
Successful entrepreneurs do not give up at the first sign of trouble, nor do they persevere the plane right into the ground. Instead, they possess a unique combination of perseverance and flexibility.
Highlight (yellow) - 7. Measure > Location 1497
One of the most dangerous outcomes for a startup is to bumble along in the land of the living dead.
Highlight (yellow) - 7. Measure > Location 1564
Every product development, marketing, or other initiative that a startup undertakes should be targeted at improving one of the drivers of its growth model. For example, a company might spend time improving the design of its product to make it easier for new customers to use. This presupposes that the activation rate of new customers is a driver of growth and that its baseline is lower than the company would like. To demonstrate validated learning, the design changes must improve the activation rate of new customers. If they do not, the new design should be judged a failure. This is an important rule: a good design is one that changes customer behavior for the better.
Highlight (yellow) - 7. Measure > Location 1569
Compare two startups. The first company sets out with a clear baseline metric, a hypothesis about what will improve that metric, and a set of experiments designed to test that hypothesis. The second team sits around debating what would improve the product, implements several of those changes at once, and celebrates if there is any positive increase in any of the numbers. Which startup is more likely to be doing effective work and achieving lasting results?
Highlight (yellow) - 7. Measure > Location 1682
total registered users and total paying customers
Note - 7. Measure > Location 1682
Don't ever do this. Vanity metrics.
Highlight (yellow) - 7. Measure > Location 1885
Human beings are innately talented learners when given a clear and objective assessment.
Highlight (yellow) - 7. Measure > Location 1892
This is why cohort- based reports are the gold standard of learning metrics: they turn complex actions into people- based reports. Each cohort analysis says: among the people who used our product in this period, here’s how many of them exhibited each of the behaviors we care about.
Highlight (yellow) - 7. Measure > Location 1902
Accessibility also refers to widespread access to the reports. Grockit did this especially well. Every day their system automatically generated a document containing the latest data for every single one of their split- test experiments and other leap- of- faith metrics. This document was mailed to every employee of the company: they all always had a fresh copy in their e- mail in- boxes. The reports were well laid out and easy to read, with each experiment and its results explained in plain English.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 1957
The heart of the scientific method is the realization that although human judgment may be faulty, we can improve our judgment by subjecting our theories to repeated testing.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2004
In Silicon Valley, we call this experience getting stuck in the land of the living dead. It happens when a company has achieved a modicum of success— just enough to stay alive— but is not living up to the expectations of its founders and investors.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2020
A pivot requires that we keep one foot rooted in what we’ve learned so far, while making a fundamental change in strategy in order to seek even greater validated learning.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2026
zoom- in pivot, refocusing the product on what previously had been considered just one feature of a larger whole.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2055
customer segment pivot, keeping the functionality of the product the same but changing the audience focus. He focused on who pays: from consumers to businesses and nonprofit organizations. In other words, David went from being a business- to- consumer (B2C) company to being a business- to- business (B2B) company.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2071
platform pivot. Instead of selling an application to one customer at a time, David envisioned a new growth model inspired by Google’s AdWords platform. He built a self- serve sales platform where anyone could become a customer with just a credit card.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2113
The true measure of runway is how many pivots a startup has left:
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2130
entrepreneurs need to face their fears and be willing to fail, often in a public way.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2158
telltale signs of the need to pivot: the decreasing effectiveness of product experiments and the general feeling that product development should be more productive. Whenever you see those symptoms, consider a pivot.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2257
Individually, many of these new features and new marketing tools were successful. We measured them rigorously, using A/ B experimentation. But taken in aggregate, over the course of many months, we were seeing negligible changes in the overall drivers of our engine of growth. Even our activation rate, which had been the center of our focus, edged up only a few percentage points.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2283
Zoom- in Pivot In this case, what previously was considered a single feature in a product becomes the whole product. This is the type of pivot Votizen made when it pivoted away from a full social network and toward a simple voter contact product.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2285
Zoom- out Pivot In the reverse situation, sometimes a single feature is insufficient to support a whole product. In this type of pivot, what was considered the whole product becomes a single feature of a much larger product.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2287
Customer Segment Pivot In this pivot, the company realizes that the product it is building solves a real problem for real customers but that they are not the type of customers it originally planned to serve.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2290
Customer Need Pivot As a result of getting to know customers extremely well, it sometimes becomes clear that the problem we’re trying to solve for them is not very important. However, because of this customer intimacy, we often discover other related problems that are important and can be solved by our team. In many cases, these related problems may require little more than repositioning the existing product.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2295
A famous example is the chain Potbelly Sandwich Shop, which today has over two hundred stores. It began as an antique store in 1977; the owners started to sell sandwiches as a way to bolster traffic to their stores. Pretty soon they had pivoted their way into an entirely different line of business.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2298
Platform Pivot A platform pivot refers to a change from an application to a platform or vice versa. Most commonly, startups that aspire to create a new platform begin life by selling a single application, the so- called killer app, for their platform. Only later does the platform emerge as a vehicle for third parties to leverage as a way to create their own related products. However, this order is not always set in stone, and some companies have to execute this pivot multiple times.
Note - 8. Pivot (or Persevere) > Location 2302
Hi insync
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2302
Business Architecture Pivot
Note - 8. Pivot (or Persevere) > Location 2302
Just B2B to B2C and vice versa
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2308
Value Capture Pivot
Note - 8. Pivot (or Persevere) > Location 2309
Change the revenue model. So like recurring vs one-time?
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2312
Engine of Growth Pivot
Note - 8. Pivot (or Persevere) > Location 2313
Viral, sticky, paid models
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2316
Channel Pivot
Note - 8. Pivot (or Persevere) > Location 2316
Change sales channel
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2324
Technology Pivot
Note - 8. Pivot (or Persevere) > Location 2324
Sustaining innovation only. Getting higher returns on dev time using superior technology for the use case.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2334
Companies have a strong incentive to align their PR stories around the heroic founder and make it seem that their success was the inevitable result of a good idea.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2335
although startups often pivot into a strategy that seems similar to that of a successful company, it is important not to put too much stock in these analogies. It’s extremely difficult to know if the analogy has been drawn properly. Have we copied the essential features or just superficial ones? Will what worked in that industry work in ours? Will what has worked in the past work today? A pivot is better understood as a new strategic hypothesis that will require a new minimum viable product to test.
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2339
Pivots are a permanent fact of life for any growing business. Even after a company achieves initial success, it must continue to pivot.
Part Three: Accelerate
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2367
The critical first question for any lean transformation is: which activities create value and which are a form of waste?
Highlight (yellow) - 8. Pivot (or Persevere) > Location 2374
Contrary to common belief, lethargy and bureaucracy are not the inevitable fate of companies as they achieve maturity. I believe that with the proper foundation, Lean Startups can grow to become lean enterprises that maintain their agility, learning orientation, and culture of innovation even as they scale.
Highlight (yellow) - 9. Batch > Location 2400
first you should fold all of the newsletters. Then you should attach the seal. Then you should put on the stamps.” Their father wanted to do it the counterintuitive way: complete each envelope one at a time. They— like most of us— thought that was backward, explaining to him “that wouldn’t be efficient!” He and his daughters each took half the envelopes and competed to see who would finish first. The father won the race, and not just because he is an adult. It happened because the one envelope at a time approach is a faster way of getting the job done even though it seems inefficient. This has been confirmed in many studies, including one that was recorded on video.
Highlight (yellow) - 9. Batch > Location 2405
The one envelope at a time approach is called “single- piece flow” in lean manufacturing. It works because of the surprising power of small batches. When we do work that proceeds in stages, the “batch size” refers to how much work moves from one stage to the next at a time. For example, if we were stuffing one hundred envelopes, the intuitive way to do it— folding one hundred letters at a time— would have a batch size of one hundred. Single- piece flow is so named because it has a batch size of one.
Highlight (yellow) - 9. Batch > Location 2409
Why does stuffing one envelope at a time get the job done faster even though it seems like it would be slower? Because our intuition doesn’t take into account the extra time required to sort, stack, and move around the large piles of half- complete envelopes when it’s done the other way.
Highlight (yellow) - 9. Batch > Location 2411
It seems more efficient to repeat the same task over and over, in part because we expect that we will get better at this simple task the more we do it. Unfortunately, in process- oriented work like this, individual performance is not nearly as important as the overall performance of the system.
Highlight (yellow) - 9. Batch > Location 2415
imagine that the letters didn’t fit in the envelopes. With the large- batch approach, we wouldn’t find that out until nearly the end. With small batches, we’d know almost immediately.
Highlight (yellow) - 9. Batch > Location 2419
The small- batch approach produces a finished product every few seconds, whereas the large- batch approach must deliver all the products at once, at the end. Imagine what this might look like if the time horizon was hours, days, or weeks. What if it turns out that the customers have decided they don’t want the product? Which process would allow a company to find this out sooner?
Highlight (yellow) - 9. Batch > Location 2437
Every investment in better tools and process had a corresponding benefit in terms of shrinking the batch size of work.
Note - 9. Batch > Location 2438
We totally need to do this in Insync. Reduce batch size, release small frequent updates!
Highlight (yellow) - 9. Batch > Location 2516
by reducing batch size, we can get through the Build- Measure- Learn feedback loop more quickly than our competitors can. The ability to learn faster from customers is the essential competitive advantage that startups must possess.
Highlight (yellow) - 9. Batch > Location 2535
The first production run of forty completed units was ready for delivery three and a half weeks after the initiation of the development project.
Note - 9. Batch > Location 2537
If they can build x-ray machines in 3 and a half weeks we can definitely release an iteration of software by then.
Highlight (yellow) - 9. Batch > Location 2581
When I work with product managers and designers in companies that use large batches, I often discover that they have to redo their work five or six times for every release. One product manager I worked with was so inundated with interruptions that he took to coming into the office in the middle of the night so that he could work uninterrupted.
Note - 9. Batch > Location 2583
This is what happens to us right now. We need to work in smaller batches with more regular review and communication.
Highlight (yellow) - 9. Batch > Location 2589
Eventually, one batch will become the highest- priority project, a “bet the company” new version of the product, because the company has taken such a long time since the last release. But now the managers are incentivized to increase batch size rather than ship the product. In light of how long the product has been in development, why not fix one more bug or add one more feature? Who really wants to be the manager who risked the success of this huge release by failing to address a potentially critical flaw?
Highlight (yellow) - 9. Batch > Location 2616
Lean production solves the problem of stockouts with a technique called pull. When you bring a car into the dealership for repair, one blue 2011 Camry bumper gets used. This creates a “hole” in the dealer’s inventory, which automatically causes a signal to be sent to a local restocking facility called the Toyota Parts Distribution Center (PDC). The PDC sends the dealer a new bumper, which creates another hole in inventory. This sends a similar signal to a regional warehouse called the Toyota Parts Redistribution Center (PRC), where all parts suppliers ship their products. That warehouse signals the factory where the bumpers are made to produce one more bumper, which is manufactured and shipped to the PRC. The ideal goal is to achieve small batches all the way down to single- piece flow along the entire supply chain. Each step in the line pulls the parts it needs from the previous step. This is the famous Toyota just- in- time production method. 8
Highlight (yellow) - 9. Batch > Location 2637
the right way to think about the product development process in a Lean Startup is that it is responding to pull requests in the form of experiments that need to be run.
Highlight (yellow) - 9. Batch > Location 2638
As soon as we formulate a hypothesis that we want to test, the product development team should be engineered to design and run this experiment as quickly as possible, using the smallest batch size that will get the job done. Remember that although we write the feedback loop as Build- Measure- Learn because the activities happen in that order, our planning really works in the reverse order: we figure out what we need to learn and then work backwards to see what product will work as an experiment to get that learning. Thus, it is not the customer, but rather our hypothesis about the customer, that pulls work from product development and other functions. Any other work is waste.
Highlight (yellow) - 9. Batch > Location 2683
Process is only the foundation upon which a great company culture can develop. But without this foundation, efforts to encourage learning, creativity, and innovation will fall flat— as many disillusioned directors of HR can attest.
Note - 9. Batch > Location 2685
Hear hear!!
Highlight (yellow) - 10. Grow > Location 2710
Sustainable growth is characterized by one simple rule: New customers come from the actions of past customers.
Highlight (yellow) - 10. Grow > Location 2779
But everything changed when they made one small tweak to the product. They added to the bottom of every single e-mail the message “P.S. Get your free e-mail at Hotmail” along with a clickable link.
Highlight (yellow) - 10. Grow > Location 2825
IMVU’s customers didn’t want to use the product with their existing friends. They wanted to use it to make new friends.
Note - 10. Grow > Location 2826
Jobs To Be Done could have helped
Highlight (yellow) - 10. Grow > Location 2844
The NGO literally could not make the purchase because it had no process in place for buying something so inexpensive.
Highlight (yellow) - 10. Grow > Location 2868
ENGINES OF GROWTH DETERMINE PRODUCT/MARKET FIT
Highlight (yellow) - 10. Grow > Location 2871
In a great market—a market with lots of real potential customers—the market pulls product out of the startup. This is the story of search keyword advertising, Internet auctions, and TCP/IP routers. Conversely, in a terrible market, you can have the best product in the world and an absolutely killer team, and it doesn’t matter—you’re going to fail.3
Highlight (yellow) - 10. Grow > Location 2889
A startup can evaluate whether it is getting closer to product/market fit as it tunes its engine by evaluating each trip through the Build-Measure-Learn feedback loop using innovation accounting. What really matters is not the raw numbers or vanity metrics but the direction and degree of progress.
Highlight (yellow) - 10. Grow > Location 2903
Getting a startup’s engine of growth up and running is hard enough, but the truth is that every engine of growth eventually runs out of gas. Every engine is tied to a given set of customers and their related habits, preferences, advertising channels, and interconnections. At some point, that set of customers will be exhausted. This may take a long time or a short time, depending on one’s industry and timing.
Highlight (yellow) - 11. Adapt > Location 2955
at IMVU we wound up building a training program that was so good, new hires were productive on their first day of employment. Within just a few weeks, those employees were contributing at a high level. It required a huge effort to standardize our work processes and prepare a curriculum of the concepts that new employees should learn. Every new engineer would be assigned a mentor, who would help the new employee work through a curriculum of systems, concepts, and techniques he or she would need to become productive at IMVU. The performance of the mentor and mentee were linked, so the mentors took this education seriously.
Highlight (yellow) - 11. Adapt > Location 2968
Toyota proverb, “Stop production so that production never has to stop.” The key to the andon cord is that it brings work to a stop as soon as an uncorrectable quality problem surfaces—which forces it to be investigated. This is one of the most important discoveries of the lean manufacturing movement: you cannot trade quality for time. If you are causing (or missing) quality problems now, the resulting defects will slow you down later. Defects cause a lot of rework, low morale, and customer complaints, all of which slow progress and eat away at valuable resources.
Highlight (yellow) - 11. Adapt > Location 2996
Without a program, new employees will make mistakes while in their learning curve that will require assistance and intervention from other team members, slowing everyone down.
Highlight (yellow) - 11. Adapt > Location 3001
use a system called the Five Whys to make incremental investments and evolve a startup’s processes gradually. The core idea of Five Whys is to tie investments directly to the prevention of the most problematic symptoms. The system takes its name from the investigative method of asking the question “Why?” five times to understand what has happened (the root cause).
Highlight (yellow) - 11. Adapt > Location 3052
Startup teams should go through the Five Whys whenever they encounter any kind of failure, including technical faults, failures to achieve business results, or unexpected changes in customer behavior.
Highlight (yellow) - 11. Adapt > Location 3063
Although it’s human nature to assume that when we see a mistake, it’s due to defects in someone else’s department, knowledge, or character, the goal of the Five Whys is to help us see the objective truth that chronic problems are caused by bad process, not bad people, and remedy them accordingly.
Highlight (yellow) - 11. Adapt > Location 3065
make sure that everyone affected by the problem is in the room during the analysis of the root cause.
Highlight (yellow) - 11. Adapt > Location 3069
This may make for a crowded room, but it’s essential. In my experience, whoever is left out of the discussion ends up being the target for blame.
Highlight (yellow) - 11. Adapt > Location 3072
When blame inevitably arises, the most senior people in the room should repeat this mantra: if a mistake happens, shame on us for making it so easy to make that mistake. In a Five Whys analysis, we want to have a systems-level view as much as possible.
Highlight (yellow) - 11. Adapt > Location 3078
“If our production process is so fragile that you can break it on your very first day of work, shame on us for making it so easy to do so.”
Highlight (yellow) - 11. Adapt > Location 3089
1. Be tolerant of all mistakes the first time. 2. Never allow the same mistake to be made twice.
Highlight (yellow) - 11. Adapt > Location 3103
it is essential that someone with sufficient authority be present to insist that the process be followed, that its recommendations be implemented, and to act as a referee if disagreements flare up. Building an adaptive organization, in other words, requires executive leadership to sponsor and support the process.
Note - 11. Adapt > Location 3105
Greg is right. I need executive support. Glad T is game.
Highlight (yellow) - 11. Adapt > Location 3111
It may be tempting to start with something large and important because that is where most of the time is being wasted as a result of a flawed process, but it is also where the pressure will be greatest. When the stakes are high, the Five Whys can devolve into the Five Blames quickly. It’s better to give the team a chance to learn how to do the process first and then expand into higher-stakes areas later.
Note - 11. Adapt > Location 3114
This is why process improvement beginning with IWT was a good strategy before attempting to break into the desktop developers process. Good highlight to bring up.
Highlight (yellow) - 11. Adapt > Location 3118
Make sure that the rule that determines which kinds of complaints trigger a Five Whys meeting is simple and ironclad. For example, you might decide that every complaint involving a credit card transaction will be investigated. That’s an easy rule to follow. Don’t pick a rule that is ambiguous.
Note - 11. Adapt > Location 3120
Let's try using five whys for postmortems at Insync.
Highlight (yellow) - 11. Adapt > Location 3247
“Organizations have muscle memory,” and it is hard for people to unlearn old habits.
Highlight (yellow) - 12. Innovate > Location 3314
As startups grow, entrepreneurs can build organizations that learn how to balance the needs of existing customers with the challenges of finding new customers to serve, managing existing lines of business, and exploring new business models—all at the same time.
Highlight (yellow) - 12. Innovate > Location 3341
entrepreneurs need a personal stake in the outcome of their creations.
Note - 12. Innovate > Location 3342
Innovation leads must have skin in the game.
Highlight (yellow) - 12. Innovate > Location 3347
“Financial incentives aside, I always felt that because my name was on the door, I had more to lose and more to prove than someone else. That sense of ownership is not insignificant.”
Highlight (yellow) - 12. Innovate > Location 3473
Once the market for the new product is well established, procedures become more routine. To combat the inevitable commoditization of the product in its market, line extensions, incremental upgrades, and new forms of marketing are essential. In this phase, operational excellence takes on a greater role, as an important way to increase margins is to lower costs. This may require a different type of manager: one who excels in optimization, delegation, control, and execution.
Highlight (yellow) - 12. Innovate > Location 3486
The problem for startups and large companies alike is that employees often follow the products they develop as they move from phase to phase. A common practice is for the inventor of a new product or feature to manage the subsequent resources, team, or division that ultimately commercializes it. As a result, strong creative managers wind up getting stuck working on the growth and optimization of products rather than creating new ones.
Note - 12. Innovate > Location 3489
Don't do this. Allow people to work on what they enjoy and are passionate about.
Highlight (yellow) - 12. Innovate > Location 3492
manage the four kinds of work differently, allowing strong cross-functional teams to develop around each area. When products move from phase to phase, they are handed off between teams. Employees can choose to move with the product as part of the handoff or stay behind and begin work on something new. Neither choice is necessarily right or wrong; it depends on the temperament and skills of the person in question.
Highlight (yellow) - 12. Innovate > Location 3497
People should be allowed to find the kinds of jobs that suit them best.
Highlight (yellow) - 12. Innovate > Location 3498
entrepreneurship should be considered a viable career path for innovators inside large organizations. Managers who can lead teams by using the Lean Startup methodology should not have to leave the company to reap the rewards of their skills or have to pretend to fit into the rigid hierarchies of established functional departments. Instead, they should have a business card that says simply “Entrepreneur” under the name. They should be held accountable via the system of innovation accounting and promoted and rewarded accordingly.
Note - 12. Innovate > Location 3502
Gist of entrep growth in context of company: allow them option of successful exit or continuing to grow their baby by increasing scope slowly.
Highlight (yellow) - 12. Innovate > Location 3522
I have always been a bit of a troublemaker at the companies at which I have worked, pushing for rapid iteration, data-driven decision making, and early customer involvement. When these ideas were not part of the dominant culture, it was simple (if frustrating) to be an advocate. All I had to do was push as hard as humanly possible for my ideas. Since the dominant culture found them heretical, they would compromise with me a “reasonable” amount. Thanks to the psychological phenomenon of anchoring, this led to a perverse incentive: the more radical my suggestion was, the more likely it was that the reasonable compromise would be closer to my true goal.
Note - 12. Innovate > Location 3527
Have experienced anchoring firsthand and though I identified it, it's quite difficult to resist if the actor is a skilled one.
Highlight (yellow) - 12. Innovate > Location 3557
switching to validated learning feels worse before it feels better. That’s the case because the problems caused by the old system tend to be intangible, whereas the problems of the new system are all too tangible. Having the benefit of theory is the antidote to these challenges. If it is known that this loss of productivity is an inevitable part of the transition, it can be managed actively. Expectations can be set up front.
Highlight (yellow) - 13. Epilogue: Waste Not > Location 3574
There is a reason all past management revolutions have been led by engineers: management is human systems engineering.
Highlight (yellow) - 13. Epilogue: Waste Not > Location 3617
It is insufficient to exhort workers to try harder. Our current problems are caused by trying too hard—at the wrong things. By focusing on functional efficiency, we lose sight of the real goal of innovation: to learn that which is currently unknown.
</div>

<div id="formatted">
  <div v-cloak v-for="line in output">
    <h3 v-if="line.type === 'title-bearer'">{{line.content}}</h3>
    <h1 v-else-if="line.type === 'title'">{{line.content}}</h1>
    <small
      :class="line.type"
      v-else-if="line.type === 'citation' || line.type === 'note-bearer' || line.type === 'highlight-bearer'"
      >{{line.content}}</small>
    <blockquote
      :class="{quote: true, seek: line.seek}"
      v-else-if="line.type === 'highlight'"
      v-html="line.content"
      ></blockquote>
    <div
      :class="{note: true, seek: line.seek}"
      v-else-if="line.type === 'note'"
      v-html="line.content"
      >{{line.content}}</div>
    <h3 v-else>{{line.content}}</h3>

    <div
      class="copy-controls"
      v-if="line.type === 'highlight' || line.type === 'note'">
      <button
        class="copy-btn"
        :data-clipboard-text="line.content">copy</button>
      <button
        v-if="line.type === 'highlight'"
        class="copy-btn"
        :data-clipboard-text="line.content + '\n\n' + citation">copy w/ citation</button>
    </div>
  </div>
</div>

<footer>Made with &#10084; by <a href="https://beatobongco.com/UI-Kata/">Beato Bongco</a></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="../book.js"></script>
</body>
</html>